<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="pagina para comprar productos de hardware y perifericos de pc">
    <meta name="keywords" content="PC, INFO, HARDWARE, NOSOTROS, ARGENTINA, TIENDA, ARGENTINA">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Info</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-transparent">
            <a class="navbar-brand" href="#">
                <img href="../index.html" src="../assets/GAMERBAG_free-file (2).png" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <div class="navbar-nav">
                    <a class="nav-link active" href="../index.html">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="../views/Ofertas.html">Ofertas</a>
                    <a class="nav-link" href="../views/Productos.html">Productos</a>
                    <a class="nav-link" href="../views/Nosotros.html">Nosotros</a>
                    <a class="nav-link" href="../views/Ayuda.html">Ayuda</a>

                </div>
            </div>
            <form class="form-inline search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-12 col-xs-12">


                <div class="nosotros">
                    <h1>Nosotros</h1>

                </div>

            </div>
        </div>

        <div class="container-fluid " id="carruselNosotros">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12 col-xs-12">
                    <div class=" content">
                        
                        <section class="promo">
                            <article>
                                <div class="rgbar"></div>

                                <div class=" carrusel">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                                class="active">
                                            </li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="https://images.ole.com.ar/2021/01/22/LSpcCMae5_1256x620__1.jpg"
                                                    class="d-block w-100 " alt="Procesador" height="">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://larepublica.pe/resizer/Nf7NyFebkqcx6yknHNrYRavwtSA=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/Y6YFS7RL4ZEB3BXDE56JOIJRTU.jpg"
                                                    class="d-block w-100" alt="GPU NVIDIA" height="">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://images.ole.com.ar/2021/01/08/PvuKLINEe_640x361__1.jpg"
                                                    class="d-block w-100" alt="GPU AMD" height="">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                            data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                            data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="rgbar"></div>
                            </article>
                        </section>
                        
                        <div class="feed">

                        </div>


                    </div>
                </div>
                
            </div>
        </div>

        <div class="row justify-content-center">
           <div class="col-lg-5 col-md-12 col-xs-12">
               <h2>Donde nos encontramos?</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13399.852696875885!2d-68.8394411!3d-32.8991419!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa2f95cf30542aca!2sMega%20Tecnolog%C3%ADa!5e0!3m2!1ses-419!2sar!4v1629923034949!5m2!1ses-419!2sar" width="600" height="680" style="border:0;" allowfullscreen="" loading="lazy" class="mapa"></iframe>
                </div>
            
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <h2>Nuestros clientes</h2>
                    <img src="../assets/reviews.png" alt="reviews" class="img-fluid" >
                </div>



        </div>

        <footer>
            <div class="container-fluid">
                <div class="row justify-content-center" id="footerInfo" >
                    <div class="col-lg-2 col-md-12 col-xs-12 rowFooter" >
                        <div class="redes ">
                            <h3>Redes Sociales</h3>
    
                            <div class="logRedes">
                                <a href="https://www.facebook.com/compragamer/" target="_blank" class="face"><img
                                        src="../assets/facebook.png" alt="face" class="pequena face" /></a>
                                <a href="https://www.instagram.com/compragamer_oficial/" target="_blank" class="insta">
                                    <img src="../assets/instagram.png" alt="" class="pequena insta" /></a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-1 col-md-12 col-xs-12 rowFooter" >
                        <div class="tarjetas">
                            <h3>Horarios</h3>
                            <p>8:00 a 14:00 <br> 17:00 a 22:00</p>
                            
                        </div>
                    </div>
    
                    <div class="col-lg-2 col-md-12 col-xs-12 rowFooter" >
                        <div class="ubicacion">
                            <h3>Donde nos escontramos?</h3>
                            <p>Estamos ubicados en salta 5033, Mendoza, Argentina.</p>
                        
                        </div>
                    </div>
    
                    <div class="col-lg-2 col-md-12 col-xs-12 rowFooter">
                        <div class="help">
                            <h3>Necesitas Ayuda?</h3>
                            <a class="btn btn-outline-light bg-transparent" href="Ayuda.html" role="button">Ayuda</a>
                        
                        </div>
                    </div>
    
                </div>
    
            </div>
    
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

</body>

</html>