<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="pagina para comprar productos de hardware y perifericos de pc">
    <meta name="keywords" content="PC, COMPUTADORA, HARDWARE, NVIDIA, AMD, INTEL, CPU, GPU, MOUSE, TECLADO">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Productos</title>
</head>

<body>
    <main>
        <header>
            <nav class="navbar navbar-expand-lg  navbar-dark bg-transparent">
                <a class="navbar-brand" href="#">
                    <img href="../index.html" src="../assets/GAMERBAG_free-file (2).png" alt="logo">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <div class="navbar-nav">
                        <a class="nav-link " href="../index.html">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="../views/Cuenta.html">Mi cuenta</a>
                        <a class="nav-link active" href="../views/Productos.html">Productos</a>
                        <a class="nav-link" href="../views/Nosotros.html">Nosotros</a>
                        <a class="nav-link" href="../views/Ayuda.html">Ayuda</a>

                    </div>
                </div>
                <form class="form-inline search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </header>

        <div class="container-fluid">
            <h1>PRODUCTOS</h1>
            <div class="row justify-content-center productos">
                <div class="col-xl-3 col-lg-6 col-md-12 col-xs-12">
                    <img src="https://www.venex.com.ar/products_images/thumb/1615555092_placa-de-video-msi-nvidia-geforce-gtx-1650-ventus-xs-oc-4g.jpg"
                        alt="">
                    <div>
                        <span class="precio">$15000</span>
                        <p class="descripcion">Nvidia GTX 1650</p>
                        <button class="btn-grad"> Comprar</button>
                    </div>

                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-xs-12">
                    <img src="https://www.venex.com.ar/products_images/thumb/1628541467_s6d5f4g6sdf.jpg" alt="">
                    <div>
                        <span class="precio">$25000</span>
                        <p class="descripcion">Nvidia Palit GTX 1660</p>
                        <button class="btn-grad"> Comprar</button>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-xs-12">
                    <img src="https://www.venex.com.ar/products_images/thumb/1611082306_placa-de-video-msi-nvidia-geforce-rtx-3070-gaming-x-trio-8gb.jpg"
                        alt="">
                        <div>
                            <span class="precio">$37000</span>
                            <p class="descripcion">Nvidia Msi SRTX 3070</p>
                            <button class="btn-grad"> Comprar</button>
                        </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-xs-12">
                    <img src="https://www.venex.com.ar/products_images/thumb/1611082385_placa-de-video-asus-nvidia-geforce-rtx-3070-strix-o8g-gaming.jpg"
                        alt="">
                        <div>
                            <span class="precio">$39000</span>
                            <p class="descripcion">Nvidia Rog Strig RTX 3070 </p>
                            <button class="btn-grad"> Comprar</button>
                        </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-xs-12">
                    <img src="https://www.venex.com.ar/products_images/thumb/1629386364_11306_05_rx6700xt_pulse_12gbgddr6_3dp_hdmi_lbc_02.jpg"
                        alt="">
                        <div>
                            <span class="precio">$32000</span>
                            <p class="descripcion">AMD Pulse RX 6700XT </p>
                            <button class="btn-grad"> Comprar</button>
                        </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-xs-12">
                    <img src="https://www.venex.com.ar/products_images/thumb/1607711690_placadevideopalitnvidiageforcertx3060tidual8gbgddr6256bit.jpg"
                        alt="">
                        <div>
                            <span class="precio">$36000</span>
                            <p class="descripcion">Nvida RTX 3060 TI</p>
                            <button class="btn-grad"> Comprar</button>
                        </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-xs-12">
                    <img src="https://www.venex.com.ar/products_images/thumb/1617202350_microprocesador_intel_i7_10700k_cometlake_8-16_5.1ghz_16mb_lga1200.jpg"
                        alt="">
                        <div>
                            <span class="precio">$29000</span>
                            <p class="descripcion">Intel Core i7 10700k</p>
                            <button class="btn-grad"> Comprar</button>
                        </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-xs-12">
                    <img src="https://www.venex.com.ar/products_images/thumb/1628784194_microprocesador-amd-ryzen-5600g-4.4-ghz-am4.jpg"
                        alt="">
                        <div>
                            <span class="precio">$34000</span>
                            <p class="descripcion">AMD Ryzen 7 5700g</p>
                            <button class="btn-grad"> Comprar</button>
                        </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-xs-12">
                    <img src="https://www.venex.com.ar/products_images/thumb/1626718506_microprocesador_intel_core_i7_11700.jpg"
                        alt="">
                        <div>
                            <span class="precio">$33000</span>
                            <p class="descripcion">Intel Core i7 11700K</p>
                            <button class="btn-grad"> Comprar</button>
                        </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-xs-12">
                    <img src="https://www.venex.com.ar/products_images/thumb/1617907137_f10df2g.jpg" alt="">
                    <div>
                        <span class="precio">$35000</span>
                        <p class="descripcion">Monitor Samsung 144hz</p>
                        <button class="btn-grad"> Comprar</button>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-12 col-xs-12">
                    <img src="https://www.venex.com.ar/products_images/thumb/1607784001_xghcgghjc.jpg" alt="">
                    <div>
                        <span class="precio">$17000</span>
                        <p class="descripcion">Mother Aorus A520M</p>
                        <button class="btn-grad"> Comprar</button>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-xs-12">
                    <img src="https://www.venex.com.ar/products_images/thumb/1628170683_ad65fg1.jpg" alt="">
                    <div>
                        <span class="precio">$11000</span>
                        <p class="descripcion">Mother GYGABYTE B460M</p>
                        <button class="btn-grad"> Comprar</button>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <footer>
            <div class="container-fluid">
                <div class="row justify-content-center" id="footerInfo" >
                    <div class="col-lg-2 col-md-12 col-xs-12 rowFooter" >
                        <div class="redes ">
                            <h3>Redes Sociales</h3>
    
                            <div class="logRedes">
                                <a href="https://www.facebook.com/compragamer/" target="_blank" class="face"><img
                                        src="../assets/facebook.png" alt="face" class="pequena face" /></a>
                                <a href="https://www.instagram.com/compragamer_oficial/" target="_blank" class="insta">
                                    <img src="../assets/instagram.png" alt="" class="pequena insta" /></a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-1 col-md-12 col-xs-12 rowFooter" >
                        <div class="tarjetas">
                            <h3>Horarios</h3>
                            <p>8:00 a 14:00 <br> 17:00 a 22:00</p>
                            
                        </div>
                    </div>
    
                    <div class="col-lg-2 col-md-12 col-xs-12 rowFooter" >
                        <div class="ubicacion">
                            <h3>Donde nos escontramos?</h3>
                            <p>Estamos ubicados en salta 5033, Mendoza, Argentina.</p>
                        
                        </div>
                    </div>
    
                    <div class="col-lg-2 col-md-12 col-xs-12 rowFooter">
                        <div class="help">
                            <h3>Necesitas Ayuda?</h3>
                            <a class="btn btn-outline-light bg-transparent" href="Ayuda.html" role="button">Ayuda</a>
                        
                        </div>
                    </div>
    
                </div>
    
            </div>
    
        </footer>

    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>


</html>